@font-face {
  font-family: 'Poppins-Medium';
  src: url('../../assets/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../../assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('../../assets/fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'BarlowCondensed-SemiBold';
  src: url('../../assets/fonts/BarlowCondensed-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'BarlowCondensed-Medium';
  src: url('../../assets/fonts/BarlowCondensed-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'BarlowCondensed-Regular';
  src: url('../../assets/fonts/BarlowCondensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'BarlowCondensed-Light';
  src: url('../../assets/fonts/BarlowCondensed-Light.ttf') format('truetype');
}